.timeline-section{
	padding: 80px 15px;
  	width: 100%;
}

.timeline-items{
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #808080;
	left: calc(50% - 1px);
}